* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #361555;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
